<!--    <span class="subhead"><%#= @region.taxons.species.where(root_taxon_id: @taxon.id).size.to_s %> species</span>-->
<% region_array = []
   cur = @region
   while cur != nil
     region_array << cur
     cur = cur.region
   end
   region_array = region_array.reverse
   region_array = region_array.map { |ra| "<a href='#{game_taxon_region_url(@taxon, ra, "game")}'>#{ra.name}</a>" }.join(" > ")
%>

<% content_for :title do %>
  Learn to identify <%= @taxon.common_name %> in <%= @region.name %>
<% end %>

<% content_for :breadcrumb do %>
  <h2>
    <%= link_to render('statics/world'), root_path %> >
    <%= link_to @taxon.common_name, taxon_path(@taxon) %> >

    <%= region_array.html_safe %> >
    Game,
    <%= link_to @region.taxons.species.where(root_taxon_id: @taxon.id, photographed: true).size.to_s + " species", taxon_region_path(@taxon, @region) %>

    <% if @taxon.valid_regions.where(region: @region).any? %>
      <%= react_component('Subregionbutton', {hide_msg: "Hide Subregions", show_msg: "Show Subregions"}) %>
    <% end %>
  </h2>
<% end %>


<% content_for :subregions do %>
  <%= react_component('Subregions', {taxon_id: @taxon.id, id: @region.id, game: true}) %>
<% end %>

<%= react_component('SpeciesPicker', {region: @region, photo_id: @photo.id, image_path: @photo.image_path.url, options: @options}) %>


