<p id="notice"><%= notice %></p>

<h1>Genera</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Family</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @genera.each do |genus| %>
      <tr>
        <td><%= genus.name %></td>
        <td><%= link_to genus.family.name, genus_path(genus) %></td>
        <td><%= link_to 'Show', genus %></td>
        <td><%= link_to 'Edit', edit_genus_path(genus) %></td>
        <td><%= link_to 'Destroy', genus, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Genus', new_genus_path %>
