<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @genus.name %>
</p>

<p>
  <strong>Family:</strong>
  <%= @genus.family %>
</p>

<%= link_to 'Edit', edit_genus_path(@genus) %> |
<%= link_to 'Back', genera_path %>
