<p id="notice"><%= notice %></p>

<h1>Tier3s</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tier2</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tier3s.each do |tier3| %>
      <tr>
        <td><%= tier3.name %></td>
        <td><%= tier3.tier2 %></td>
        <td><%= link_to 'Show', tier3 %></td>
        <td><%= link_to 'Edit', edit_tier3_path(tier3) %></td>
        <td><%= link_to 'Destroy', tier3, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tier3', new_tier3_path %>
