<p id="notice"><%= notice %></p>

<p>
  <strong>Genus:</strong>
  <%= @species.genus %>
</p>

<p>
  <strong>Name:</strong>
  <%= @species.name %>
</p>

<p>
  <strong>Venomous:</strong>
  <%= @species.venomous %>
</p>

<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
