<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @user_species_datum.species %>
</p>

<p>
  <strong>User:</strong>
  <%= @user_species_datum.user %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @user_species_datum.seen %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @user_species_datum.correct %>
</p>

<%= link_to 'Edit', edit_user_species_datum_path(@user_species_datum) %> |
<%= link_to 'Back', user_species_data_path %>
