<h2><%= link_to @taxon.common_names[0].name, pick_region_path(@taxon) %> > <%= link_to @region.name %></h2>

<%= react_component('Subregions', {taxon_id: @taxon.id, id: @region.id}) %>

<p>Currently we have <%= @species.length %> species in this region with photos
  and <%= @region.taxons.species.select {|sp| sp.root == @taxon}.length %> total</p>
<hr>
<%= react_component('SpeciesPicker', {image_path: @photo.image_path.url,
                                      options: @options}) %>