<% if @tier.class.name == "Tier1" %>
  <h2><%= link_to @taxon.common_names[0], quiz_taxon_path(@taxon) %> > <%= @tier.name.titleize %></h2>
<% elsif @tier.class.name == "Tier2" %>
  <h2>
    <%= link_to @taxon.common_names[0], quiz_taxon_path(@taxon) %> >
    <%= link_to @tier.tier1.name.titleize, t1_taxon_quiz_path(@taxon,@tier.tier1) %> > <%= @tier.name.titleize %></h2>
<% end %>

<% if @tier.class.name == "Tier1" %>
  <%= react_component('Tierlist', {taxon_id: @taxon.id, id: @tier.id}) %>
<% end %>

<p>Currently we have <%= @species.length %> species in this region with photos and <%= @tier.taxons.species.select{|sp| sp.root == @taxon}.length %> total</p>
<hr>
<%= react_component('SpeciesPicker', {image_path: @photo.image_path.url,
                                      options: @options}) %>