<% content_for :title do %>
  <%= @taxon.common_names[0].name %>
<% end %>

<% content_for :breadcrumb do %>
  <h2>
    <%= link_to root_path do %><%= render 'quiz/world' %><% end %> >
    <%= link_to @taxon.common_names[0].name, quiz_pick_region_path(@taxon) %>
  </h2>
<% end %>


<h2>Pick your Region</h2>
<% console %>
<ul id="pick_region">
  <% @regions.each do |reg| %>
    <li><%= link_to reg.name, quiz_game_path(@taxon, reg) %></li>
  <% end %>
</ul>