<% content_for :title do %>
  Scoreboard
<% end %>

<% content_for :breadcrumb do %>
  Scoreboard
<% end %>

<h2>Most correct IDs</h2>

<%= render :partial =>'quiz/list', locals: {users: @users_total_correct} %>


<h2>Scientific Accuracy</h2>

<%= render :partial =>'quiz/list', locals: {users: @users_sci_acc} %>


<h2>Common Accuracy</h2>

<%= render :partial =>'quiz/list', locals: {users: @users_com_acc} %>

<h2>Most Approved Reports of Photos/Species</h2>
<%= render :partial =>'quiz/list', locals: {users: @users_reports} %>


<br/>
<%= link_to "Back to Herps", quiz_pick_taxon_path , class: 'center'   %>
