<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @photo.species %>
</p>

<p>
  <strong>Image path:</strong>
  <%= @photo.image_path %>
</p>

<p>
  <strong>Seen:</strong>
  <%= @photo.seen %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @photo.correct %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
