<%= form_with(model: tier2, local: true) do |form| %>
  <% if tier2.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tier2.errors.count, "error") %> prohibited this tier2 from being saved:</h2>

      <ul>
      <% tier2.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :tier1_id %>
    <%= form.text_field :tier1_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
