<% content_for :title do %>
  <%= @taxon.common_names[0].name %>
<% end %>

<% content_for :head do %>
  <meta property="og:image" content="<%= @taxon.photo.url %>" />
<% end %>

<% content_for :breadcrumb do %>
  <h2>
    <%= link_to root_path do %><%= render 'statics/world' %><% end %> >
    <%= link_to @taxon.common_names[0].name, taxon_regions_path(@taxon) %>
  </h2>
<% end %>


<%= react_component "Regionpicker", {regions: @regions, taxon: @taxon} %>