<%= form_with(model: common_name, local: true) do |form| %>
  <% if common_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(common_name.errors.count, "error") %> prohibited this common_name from being saved:</h2>

      <ul>
      <% common_name.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :species_id %>
    <%= form.text_field :species_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
