<p id="notice"><%= notice %></p>

<p>
  <strong>Species:</strong>
  <%= @common_name.species %>
</p>

<p>
  <strong>Name:</strong>
  <%= @common_name.name %>
</p>

<%= link_to 'Edit', edit_common_name_path(@common_name) %> |
<%= link_to 'Back', common_names_path %>
