<%= form_with(model: tip, local: true) do |form| %>
  <% if tip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tip.errors.count, "error") %> prohibited this tip from being saved:</h2>

      <ul>
      <% tip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :taxon_id %>
    <%= form.text_field :taxon_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
