<% content_for :title do %>
  Handle user submitted tips
<% end %>

<h1>Tips</h1>

<% if @tips.any? %>
  <table id="tip_table">
    <thead>
    <tr>
      <th>User</th>
      <th>Content</th>
      <th>Taxon</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @tips.each do |tip| %>
      <tr>
        <td><%= tip.user.username %></td>
        <td><%= tip.content %></td>
        <td><%= tip.taxon.common_name %> (<%= tip.taxon.name %>)</td>
        <td><%= link_to 'Approve', "/tips/#{tip.id}?handled=true&approved=true", method: :patch %><br/>
          <%= link_to 'Reject', "/tips/#{tip.id}?handled=true&approved=false", method: :patch %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="center">No tips pending approval.</p>
<% end %>