<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @tip.user %>
</p>

<p>
  <strong>Content:</strong>
  <%= @tip.content %>
</p>

<p>
  <strong>Taxon:</strong>
  <%= @tip.taxon %>
</p>

<%= link_to 'Edit', edit_tip_path(@tip) %> |
<%= link_to 'Back', tips_path %>
