<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<div class="center"><div>


  <% Report.all.pending.each do |report|  %>
  <div class="report">
    <%= image_tag report.photo.image_path.url %>
    <% if report.venomous %>
      <p>
        <strong>This species should be marked as:</strong>
        <%= report.venomous %>
      </p>
    <% end %>

    <% if report.taxon %>
      <p>
        <strong>Currently:</strong> <%= report.photo.taxon.name %> -- <%- report.photo.taxon.common_name %>
        <br/>
        <strong>Reported as:</strong> <%= report.taxon.name  %> -- <%= report.taxon.common_name%>

      </p>
    <% end %>

    <% if report.no_herp %>
      <p>
        <strong>Photo has no herp</strong>
      </p>
    <% end %>

  </div>
    <% end %>




</div></div>



