<% content_for :breadcrumb do %>
  Report of <%= @report.photo.taxon.name %> <%= "by #{@report.created_by.username if @report.created_by}" %>
<% end %>

<% content_for :title do "Report" end %>

<%= react_component('Zoom', url: @report.photo.image_path.url, no_text: true) %>

<div class="center">
  <div>
<h3>Issues</h3>

<% if @report.venomous %>
  <p>
    <strong>This species should be marked as:</strong>
    <%= @report.venomous %>
  </p>
<% end %>

<% if @report.taxon %>
  <p>
    <strong>This photo is actually of:</strong>
    <%= @report.taxon.common_name %> -- <%= @report.taxon.name %>
  </p>
<% end %>

<% if @report.no_herp %>
  <p>
    <strong>This photo doesn't have a herp in it...</strong>
  </p>
<% end %>


  </div>
</div>