<!DOCTYPE html>
<html>
<head>
  <title>SnakeID</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

<%= flash[:notice] %>
<%= flash[:alert] %>

<navbar>
  <h1>SnakeID 1.0.1</h1>
</navbar>

<%= yield %>

<footer>
  <hr>
  <p>SnakeID 1.0.2 Alpha</br>
    This is an alpha and as such everything is up in the air.
    <br/>An open source project @ <a href="https://github.com/n8ta/SnakeID">github.com/n8ta/SnakeID</a>
    <br/>Report any bugs or cool feature ideas on github</p>
</footer>
</body>
</html>
