<!DOCTYPE html>
<html lang="en">
<head>
  <title>HerpID | <%= yield :title %></title>
  <meta name="description" value="HerpID teaches people to identify reptiles and amphibians">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async defer src="https://buttons.github.io/buttons.js"></script>

</head>
<% unless Rails.env == "development" %>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111016820-5"></script>
  <script>window.dataLayer = window.dataLayer || [];

  function gtag() {
      dataLayer.push(arguments);
  }

  gtag('js', new Date());
  gtag('config', 'UA-111016820-5');</script>
<% end %>


<body>
<!-- Place this tag where you want the button to render. -->


<div id="logo-holder">
  <div id="logo">
    <!--  <div id="info">45,000 Regions - 16,000 Species - 340,000 Unqiue Photos </div>-->
    <% if current_user %>
      <%= render 'statics/hamburger' %>
      <a id="logo_anchor" href="/"><h1>Herp<span id="herpID">ID</span></h1></a>
      <span>&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp</span>
      <%#= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'right_of_logo' %>
    <% else %>
      <%= render 'statics/hamburger' %>
      <a id='logo_anchor' href="/"><h1>Herp<span id="herpID">ID</span></h1></a>
      <%= link_to 'Sign In/Up', '/users/sign_up', class: 'right_of_logo' %>
    <% end %>
  </div>
  <div id="menu" class="drop_down_menu">
    <ul id="menu-inner">
<!--      <li><%#= link_to reports_path do %><h4>Reports</h4><%# end %></li>-->
<!--      <li><%#= link_to reports_path do %><h4>Messages</h4><%# end %>-->
<!--      </li>-->
      <li>
        <%= link_to "https://github.com/n8ta/HerpID", target: '_blank' do %><h4>HerpID on Github</h4>
        <% end %><br/>
        <a class="github-button" href="https://github.com/n8ta/herpid/issues" data-icon="octicon-issue-opened" data-size="large" data-show-count="true" aria-label="Issue n8ta/herpid on GitHub">Issues</a><br/>
        <a class="github-button" href="https://github.com/n8ta/herpID" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star n8ta/herpID on GitHub">Star</a>
      </li>
      <li>
        <h4>Developer: </h4><%= link_to "https://n8ta.com/", target: '_blank' do %><h4>Nate Tracy-Amoroso</h4> <% end %>
      </h4>
      </li>
      <li>
        <% if current_user %>
          <h4>Settings</h4>
          <%= react_component('Settings', {show_dead: current_user.show_dead_photos}) %>
        <% else %>
        <H4>Settings</H4>
          <p>If you make an account you can toggle seeing photos of dead animals on and off, default is off.</p>
          <%= link_to "Signup", '/users/sign_up' %>
        <% end %>
      </li>
    </ul>
  </div>


</div>
<div id="breadcrumb">
  <%= yield :breadcrumb %>
  <div id="subregions" class="drop_down_menu">
    <div id="subregions-inner">
      <%= yield :subregions %>
    </div>
  </div>
</div>

<div id="flash"><%= flash[:notice] %><%= flash[:alert] %></div>

<div id="content">
  <%= yield %>
</div>
</body>

</html>
