<!DOCTYPE html>
<html lang="en">
<head>
  <title>HerpID</title>
  <meta name="description" value="HerpID teaches people to identify snakes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<%= flash[:notice] %>
<%= flash[:alert] %>

<navbar>
  <a href="/"><h1>HerpID </h1></a>
  <%# if current_user %>
    <%#= react_component('Scoreboard', {'id': current_user.id}) %>
  <%# end %>
</navbar>

<%= yield %>

<footer>
  <hr>
  <% if not current_user.nil? %>
    <p>Hi <%= current_user.email %>   <%= link_to "Sign out", destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p><a href="/users/sign_up">Sign Up</a> <a href="/users/sign_in">Sign In</a></p>
  <% end %>

  <p>HerpID <%= ENV['herpid_version'] %> Alpha</br>
    This is an alpha and as such everything is up in the air.
    <br/>Report any bugs or cool feature ideas on github</p>
  <a href="https://github.com/n8ta/SnakeID"><img src="<%= asset_path('github.png') %>"></a>
</footer>
</body>
</html>
