<!DOCTYPE html>
<html lang="en">
<head>
  <title>HerpPro | <%= yield :title %></title>
  <meta name="description" value="HerpID teaches people to identify reptiles and amphibians">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-signin-client_id" content="<%= ENV['google_client_id']%>">
    <%= yield :head %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <script src="https://unpkg.com/popper.js@1.15.0/dist/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111016820-5"></script>
</head>

<body>
<div id="logo-holder">
  <div id="logo">
    <% if current_user %>
      <%= react_component("Menubutton") %>
      <a id="logo_anchor" href="/"><h1>Herpetology<span id="herpID">Pro</span></h1></a>
      <span>&nbsp &nbsp &nbsp &nbsp &nbsp</span>
    <% else %>
      <%= react_component("Menubutton") %>
      <a id='logo_anchor' href="/"><h1>Herpetology<span id="herpID">Pro</span></h1></a>
      <%= link_to '/users/sign_up', class: 'right_of_logo' do %>
        <%= render :partial => 'statics/login' %>
      <% end %>
    <% end %>
  </div>
  <div id="menu" class="center drop_down_menu">
    <ul id="menu-inner">
      <li><h4><a href="/">Home</a></h4></li>
      <li><h4><%= link_to scoreboard_path do %>
          Scoreboard
          <% if current_user %>
            (<%= current_user.place_on_scoreboard.ordinalize %>)
          <% end %>

        <% end %>
      </h4></li>
      <% if current_user && current_user.admin_or_contributor? %>
        <li><h4><%= link_to reports_path do %>Reports(<%= Report.pending.size %>)
          <% end %></h4></li>
      <% end %>
      <li>
        <h4><%= link_to "https://github.com/n8ta/Herpetology", target: '_blank' do %>HerpPro on Github
          <% end %></h4><br/>
        <span>Drop me a star on github, it makes me look good (:</span>
      </li>
      <li>
        <h4>Developer: <%= link_to "https://n8ta.com/", target: '_blank' do %>Nate Tracy-Amoroso
          <% end %></h4>
      </li>
      <li>
        <% if current_user %>
          <h4>Settings</h4>
          <%= react_component('Settings', {email_opted_out: current_user.opt_out_of_email, show_dead: current_user.show_dead_photos}) %>
        <% else %>
          <H4>Settings</H4>
          <p>If you make an account you can toggle seeing photos of dead animals on and off as well as see statistics on
            accuracy.</p>
          <%= link_to "Signup", '/users/sign_up' %>
        <% end %>
      </li>
      <li><p>Do not use information learned here in life or death situations. All data on which species are venomous is crowdsourced and thus almost certainly incomplete and may be inaccurate (though people seem to be acting in good faith). When in ANY doubt leave a herp alone.</p></li>
      <li>
        <% unless current_user.nil? %>
          <h4>  <%= link_to destroy_user_session_path, method: :delete do %> Sign Out
            <% end %></h4>
        <% end %>
      </li>
    </ul>
  </div>


</div>
<div id="breadcrumb">
  <%= yield :breadcrumb %>
  <div id="subregions" class="drop_down_menu">
    <div id="subregions-inner">
      <%= yield :subregions %>
    </div>
  </div>
</div>

<div id="flash"><%= flash[:notice] %><%= flash[:alert] %></div>

<div id="content">
  <%= yield %>
</div>
</body>

</html>
