<!DOCTYPE html>
<html lang="en">
<head>
  <title>HerpID | <%= yield :title %></title>
  <meta name="description" value="HerpID teaches people to identify reptiles and amphibians">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<% unless Rails.env == "development" %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111016820-5"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-111016820-5');
  </script>
<% end %>


<body>


<div id="logo">
  <a href="/"><h1>Herp<span id="herpID">ID</span></h1></a>
  <!--  <div id="info">45,000 Regions - 16,000 Species - 340,000 Unqiue Photos </div>-->
  <% if current_user %>
    <%#= react_component('Scoreboard', {'id': current_user.id}) %>
  <% end %>

</div>
<div id="breadcrumb">
  <%= yield :breadcrumb %>
</div>

<div id="content">


  <%= flash[:notice] %>
  <%= flash[:alert] %>

  <%= yield %>


<!--  <footer>-->
    <%# if not current_user.nil? %>
<!--      <p>Hi <%#= current_user.username %>   <%#= link_to "Sign out", destroy_user_session_path, method: :delete %></p>-->
    <%# else %>
<!--      <p><a href="/users/sign_up">Sign Up</a> <a href="/users/sign_in">Sign In</a></p>-->
    <%# end %>
<!--    <a href="https://github.com/n8ta/SnakeID"><img src="<%#= asset_path('github.png') %>"></a>-->


<!--  </footer>-->


</div>

</body>

</html>
