<!DOCTYPE html>
<html>
<head>
  <title>SnakeID</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application' %>
  <%#= stylesheet_pack_tag 'application' %>
  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'application' %>
</head>

<body>

<%= flash[:notice] %>
<%= flash[:alert] %>

<navbar>
  <h1>SnakeID v0.0 Alpha</h1>
</navbar>

<%= yield %>

<footer>
  <hr>
  <p>SnakeID v0.0 Alpha</br>
    This is an alpha and as such everything is up in the air. APIs are undocumented and subject to frequent change.
    <br/>An open source project @ <a href="https://github.com/n8ta/SnakeID">github.com/n8ta/SnakeID</a>
    <br/>Report any bugs or cool feature ideas on github</p>
</footer>
</body>
</html>
